:host {
  display: block;
}
.progress {
  position: relative;
  overflow: hidden;
  border-radius: 999px;
  width: 100%;
  --p: 0; /* 0..1 */
  margin: 12% 0;
}
.fill {
  position: absolute;
  inset: 0 0 0 0; /* top/right/bottom/left = 0 */
  transform-origin: left center;
  transform: scaleX(var(--p)); /* <- drives visual progress */
  transition: transform 250ms linear; /* smooth growth */
}
