<div class="main h-dvh flex flex-col justify-between p-8">
  <header class="flex justify-between items-start">
    <div class="text-6xl font-bold">
      <h1>MARIA</h1>
      <h1>ART</h1>
    </div>
    <div class="text-right text-sm">
      <a class="block hover:underline" href="#">DOWNLOAD RESUME</a>
      <!-- <a class="block hover:underline" href="#">test.name</a> -->
      <a class="block mt-6 hover:underline" href="#">ABOUT</a>
    </div>
  </header>
  <main class="flex-grow flex items-center justify-center">
    <!-- lg and md screen -->
    <div class="grid grid-cols-12 gap-8 w-full projects-grid hidden lg:grid">
      <!-- LEFT: LIST -->
      <div class="col-span-3 flex flex-col justify-start">
        <div class="flex items-center mb-4">
          <span class="text-base">CATEGORIES</span>
        </div>

        <div class="flex flex-col text-base project-list">
          <div
            *ngFor="let project  of  projects"
            class="cursor-pointer my-2"
            [attr.data-i]="project.id"
            (click)="setActive(project)"
          >
            <span class="project-code text-gray-400">{{ project.code }}</span>
            <span
              class="project-title text-gray-400"
              [ngClass]="{  'active-project': activeProject?.id  ===  project.id  }"
            >
              {{ project.title }}
            </span>
          </div>
        </div>
      </div>

      <!-- RIGHT: IMAGES -->
      <div class="col-span-9 flex w-2/3 flex-col space-y-4">
        <div *ngFor="let  project  of  projects">
          <img
            (click)="setActive(project)"
            [attr.data-i]="project.id"
            [alt]="project.alt"
            class="project-img w-full size-40 object-cover"
            [src]="'../../assets/'  +  project.image"
          />
        </div>
      </div>
    </div>
    <!-- sm screen -->
    <div class="flex flex-col w-full space-y-6 px-4 py-6 lg:hidden">
      <div
        *ngFor="let  project  of  projects"
        class="flex flex-col items-start space-y-2"
      >
        <div class="font-medium text-gray-500">
          <span class="mr-2">{{ project.code }}</span>
          <span class="hover:text-black">{{ project.title }}</span>
        </div>
        <img
          [src]="'../../assets/'  +  project.image"
          [alt]="project.alt"
          class="w-full grayscale h-[48dvh] object-cover"
        />
      </div>
    </div>
  </main>
  <footer class="flex justify-between text-sm py-2">
    <span>08/2025</span>
    <span>FRONTEND DEV</span>
  </footer>
</div>
